:root {
    font-family: 'Gilroy', sans-serif;
    background-color: #fbfbfb;
}

body {
    /* min-width: 100vw;
    min-height: 100vh; */
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p { margin: 0;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
}









/* Styles for Mobile devices */
.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 65px;
        padding-right: 65px;
    }
}













.sale-section-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}





.sale-adaption {
    margin-bottom: 20px;
}



.clock-galerey {
    display: flex;
    margin-bottom: 20px;
    gap: 5px;
}

.clock-item {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 16px;
    max-width: 80px;
    max-height: 80px;
    background-color: #f3f3f3;
    padding: 13px 14px;
}



.sale-clock {
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    max-width: 335px;
    max-height: 385px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
    padding: 50px;
    /* transform: rotate(-180deg); */
}



.product-info {
    border-radius: 30px;
    max-width: 335px;
    background-color: #3350e9;
    padding: 48px 28px;
}

.product-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.product-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 20px;
}

.product-price {
    display: flex; 
    gap: 9px;
    align-items: center;
}

.actual-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    border-radius: 8px;
    width: 68px;
    height: 32px;
    background: rgba(251, 251, 251, 0.1);
    padding: 9px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}

.sale-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-top: 28px;
    margin-bottom: 28px;
}

.block-links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.sale-links {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    align-self: start;
}

.sale-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
}




@media only screen and (min-width: 768px) {

    .sale-adaption {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 20px;
        margin-bottom: 80px;
    }

    .clock-galerey {
        flex-direction: column;
        gap: 10px;
    }
    
    .clock-item {
        padding: 16px 18px;
        border-radius: 20px;
        max-width: 132px;
        max-height: 132px;
    }

    .sale-clock {
        padding: 80px 112px;
        border-radius: 50px;
        max-width: 552px;
        max-height: 558px;
    }

    .product-info {
        padding: 60px;
        border-radius: 50px;
        max-width: 704px;
        max-height: 518px;
    }

    .product-title {
        max-width: 436px;
        font-size: 32px;
        line-height: 1.125;
    }

    .actual-price {
        min-width: 78px;
        font-size: 20px;
        line-height: 1;
    }

    .sale-text {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
    }

    .block-links {
        max-width: 398px;
    }

    .sale-link {
        font-size: 14px;
        line-height: 1.28571;
    }
}




@media only screen and (min-width: 1280px) {

    .sale-adaption {
        flex-wrap: no-wrap;
        flex-direction: row;
        gap: 0px;
        margin-bottom: 100px;
    }

    .sale-clock {
        padding: 80px 50px;
        max-width: 428px;
        max-height: 558px;
        margin-right: 40px;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .product-info {
        max-width: 530px;
        max-height: 558px;
    }

    .product-title {
        max-width: 389px;
    }
}
